html {
  body {
    font-family: $font;
    color: $primary;
  }
  form {
    @include form;
  }

  .nav {
    display: flex;
  }

  .link {
    padding: 5px;
  }

  .content {
    @include vertical-list;
    background-color: rgb(217, 220, 220);
  }
  .wrapper-character {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .img-chara {
    max-width: 70%;
    border-radius: 6px;
  }

  .character-cell {
    background-color: rgb(169, 179, 164);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    padding: 8px;
    text-align: center;
    align-items: center;
  }
  .donuts-wrapper {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  button {
    background-color: rgb(185, 185, 180);
    color: black;
    font-family: $font;
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  .blue-button {
    @extend button;
    background-color: rgb(22, 95, 185);
  }

  .green-button {
    @extend button;
    background-color: rgb(27, 141, 80);
  }
  .red-button {
    @extend button;
    background-color: rgb(169, 18, 81);
    color: rgb(255, 255, 255);
  }
}
