html {
  body {
    font-family: $font;
    color: $primary;
  }

  button {
    background-color: rgb(185, 185, 180);
    color: black;
    font-family: $font;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    max-width: 40px;
  }

  .blue-button {
    @extend button;
    background-color: rgb(22, 95, 185);
  }

  .green-button {
    @extend button;
    background-color: rgb(27, 141, 80);
  }
  .content {
    @include vertical-list;
    background-color: rgb(217, 220, 220);
  }
  .wrapper-character {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .img-chara {
    max-width: 70%;
    border-radius: 6px;
  }

  .character-cell {
    background-color: rgb(149, 123, 157);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .donuts-wrapper {
    width: 60%;
  }
}
